@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Variable_slntwght.woff2) format("woff2"),
    url(../fonts/Inter-Variable_slntwght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Variable-Italic_slntwght.woff2) format("woff2"),
    url(../fonts/Inter-Variable-Italic_slntwght.ttf) format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Inter Display";
  src: url(../fonts/InterDisplay-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter Display";
  src: url(../fonts/InterDisplay-SemiBoldItalic.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

:root {
  --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --headline-font-family: "Inter Display", "Inter", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

  /* Pinks & Reds */
  --color-pink-base: #ff867a;
  --color-pink-dark: #e93e52;
  --color-red-base: #fa4416;
  --color-red-dark: #d14124;

  /* Oranges & Yellows */
  --color-orange-base: #ff9e1b;
  --color-orange-dark: #ea7600;
  --color-yellow-base: #fdd757;
  --color-yellow-dark: #ffc72c;

  /* Greens */
  --color-green-light: #8fcc60;
  --color-green-base: #54a73b;
  --color-green-dark: #3e4527;

  /* Blues */
  --color-blue-light: #619ec6;
  --color-blue-medium: #4888ad;
  --color-blue-dark: #427aa4;

  /* Purples & Browns */
  --color-purple-base: #8f5867;
  --color-purple-dark: #612141;
  --color-brown-base: #956c58;
  --color-brown-dark: #7a503a;

  /* Neutrals */
  --color-beige-base: #909c54;
  --color-cream-base: #f1f6f2;
  --color-cream-light: #f8f8f1;
  --color-white-off: #fcf8f8;

  /* Grays */
  --color-black: #2a2a22;
  --color-gray-80: #585857;
  --color-gray-60: #8d8d5b;
  --color-gray-40: #acaca9;
}

h1,
h2 {
  font-family: var(--headline-font-family);
}
